# Prerequisites
*.d

# Mac OS created folders through NetBeans
.AppleDouble

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Raspbian Section
libraspicam.so.0.1

# NetBeans Section
Server/dist/

# Mac OS Section
.DS_Store

# XCode section
DerivedData/

# Compiled Dynamic libraries
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ComLib/build/
/ComLib/dist/
/ComLib/.dep.inc
/DataLib/build/
/DataLib/dist/
/Server/build/
/Server/.dep.inc
/DataLib/.dep.inc
/CameraLib/build/
/CameraLib/dist/
/CameraLib/.dep.inc
/HEM_Server/build/
/HEM_Server/dist/
/IMG_Server/dist/
/IMG_Server/build/
/HEM_Client/build/
/HEM_Client/dist/
/NewHorizons/Utils/build/
/NewHorizons/Utils/dist/
/NewHorizons/Utils/.dep.inc
/NewHorizons/Sensor/build/
/NewHorizons/Sensor/dist/
/NewHorizons/Sensor/.dep.inc
/NewHorizons/Network/.dep.inc
/NewHorizons/Network/build/
/NewHorizons/Network/dist/
/NewHorizons/Rover/build/
/NewHorizons/Rover/dist/
/NewHorizons/Rover/.dep.inc
